<%- include('../layout/header') -%>
<%- include('../layout/sidebar') -%>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Add Product</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Product</a></li>
                        <li class="breadcrumb-item active">Add Product</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" method="POST" name="productform">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Product Details</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputproductName" class="col-sm-2 control-label">Product
                                            Name</label>
                                        <div class="col">
                                            <input type="text" class="form-control col-sm-8" name="product_name"
                                                id="inputproductName" placeholder="Product Name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputproductLabel" class="col-sm-2 control-label">Product
                                            Label</label>
                                        <div class="col">
                                            <input type="text" class="form-control col-sm-8" name="product_label"
                                                id="inputproductLabel" placeholder="Product Label" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputcategoryLabel" class="col-sm-2 control-label">Category
                                        </label>
                                        <div class="col">
                                            <select name="category" class="form-control col-sm-8"
                                                id="inputcategoryLabel">
                                                <% if(category.length>0) { %>
                                                <% for(var i=0; i<category.length;i++) { %>
                                                <option value="<%= category[i]._id %>">
                                                    <%= category[i].category_name %>
                                                </option>
                                                <% } %>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Save</button>
                            <a href="/product" class="btn btn-default" role="button">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<%- include('../layout/footer') -%>